# Assignment 3: Working with Lists and Tuples, Samia Mahmood, Version 1, Spring 2023

### a) Built in Functions for Lists

#### append() - this function adds elements to the end of the list

* example 1

In [1]:
#start with empty list
flowers=[]
#use append to add elements into end of list
flowers.append('rose')
flowers.append('tulip')
flowers.append('sunflower')
flowers.append('poppy')
flowers.append('daisy')
flowers.append('orchid')
#call flowers list
flowers

['rose', 'tulip', 'sunflower', 'poppy', 'daisy', 'orchid']

* example 2

In [2]:
#start with list with elements
favorite_subject=['math','physics','programming']
#call favorite subject list
favorite_subject

['math', 'physics', 'programming']

In [3]:
#use append to add more subjects to list
favorite_subject.append('english')
favorite_subject.append('art')
#call favorite subject list
favorite_subject

['math', 'physics', 'programming', 'english', 'art']

In [4]:
#print a message
print("My favorite subjects are", favorite_subject[0], "and", favorite_subject[1], "and", favorite_subject[2])

My favorite subjects are math and physics and programming

#### extend() - this function can add multiple elements at once to the end of a list

* example 1

In [9]:
#create list
fruits=['apple','orange','peach']
fruits

['apple', 'orange', 'peach']

In [10]:
#use extend to add multiple elemnts to the end of the list
fruits.extend(['banana','strawberry','cherry'])
fruits

['apple', 'orange', 'peach', 'banana', 'strawberry', 'cherry']

#### insert() - this function inserts an element into a list at a specifc index

* example 1

In [5]:
#create list for name
name=['Zack','Eric','Mia','Ella','Carmen','Rohan','Taylor']
name

['Zack', 'Eric', 'Mia', 'Ella', 'Carmen', 'Rohan', 'Taylor']

In [6]:
#create list for age
age=[21,12,43,67,89,99,10]
age

[21, 12, 43, 67, 89, 99, 10]

In [7]:
#use insert to add a new person in front of list, a new person in middle of list
name.insert(0,'Josh')
name.insert(4,'Stacy')
name

['Josh', 'Zack', 'Eric', 'Mia', 'Stacy', 'Ella', 'Carmen', 'Rohan', 'Taylor']

In [8]:
#use insert to add a new age in front of list, a new age in middle of list
age.insert(0, 40)
age.insert(4, 77)
age

[40, 21, 12, 43, 77, 67, 89, 99, 10]

In [9]:
#introduce two people in a sentence
print("Hello! this is", name[2], "and he is", age[2], "years old. Here is his grandmother", name[-3], "who is", age[-3])

Hello! this is Eric and he is 12 years old. Here is his grandmother Carmen who is 89

#### remove() this function removes an element from a list by its name

* example 1

In [10]:
#Use the name list from earlier for this example
name

['Josh', 'Zack', 'Eric', 'Mia', 'Stacy', 'Ella', 'Carmen', 'Rohan', 'Taylor']

In [11]:
#remove Stacy from list
name.remove('Stacy')
name

['Josh', 'Zack', 'Eric', 'Mia', 'Ella', 'Carmen', 'Rohan', 'Taylor']

In [12]:
#remove ELla from list 
name.remove('Ella')
name

['Josh', 'Zack', 'Eric', 'Mia', 'Carmen', 'Rohan', 'Taylor']

#### count() - this function is sued to return the number of times a specific element has been used in a list

* example 1

In [11]:
#create an integer list
number1=[22,33,1,22,43,55,43,22,54,78,60,60,43,43,67,43]
number1

[22, 33, 1, 22, 43, 55, 43, 22, 54, 78, 60, 60, 43, 43, 67, 43]

In [14]:
#use count function to count and show how many times 43 shows up in list
number1.count(43)
#the output will be 5 since the number 43 shows up five times in the list

5

In [16]:
#use count function to count and show how many times 22 shows up in list
number1.count(22)
#the output will be 3 since the number 22 shows up three times in the list

3

* example 2

In [18]:
#create a string list and use count to find how many times "sarah" is used within the list
friends=['becky','sally','noah','sally','grace','sally','trevor','mark','sally','sally']
#the output will be 5
friends.count('sally')

5

#### index() - this function will show the index of a specific element within a list

* example 1

In [19]:
#use the fruits list from earlier
fruits

['apple', 'orange', 'peach', 'banana', 'strawberry', 'cherry']

In [21]:
#use index function to identify the index of peach within the list
fruits.index('peach')
#output should be 2 since its index position is 2

2

#### pop() - this function pops off an element from the list by its specific index

* example 1

In [13]:
#create list of favorite food, this is the original list
fav_food=['pizza','biriyani','chicken alfredo','salmon','chicken tanduri','mac and cheese','burrito']
fav_food

['pizza',
 'biriyani',
 'chicken alfredo',
 'salmon',
 'chicken tanduri',
 'mac and cheese',
 'burrito']

In [14]:
#remove the first element from the original list, this is done by assigning it to a variable
removed1=fav_food.pop(0)
fav_food

['biriyani',
 'chicken alfredo',
 'salmon',
 'chicken tanduri',
 'mac and cheese',
 'burrito']

In [15]:
#remove mac and cheese from the current list, this is not assigned to a variable
fav_food.pop(4)
fav_food

['biriyani', 'chicken alfredo', 'salmon', 'chicken tanduri', 'burrito']

In [16]:
#remove the last element from the current list
#Using .pop() without using an index will pop off the element from the right side of list
removed3=fav_food.pop()
fav_food

['biriyani', 'chicken alfredo', 'salmon', 'chicken tanduri']

In [17]:
#print a messsage
print("The element that popped off first is", removed1)
print("The element that popped off last is", removed3)

The element that popped off first is pizza
The element that popped off last is burrito

#### sorted() - this function temporarily sorts a list

* example 1

In [18]:
#create a list
odd_numbers=[3,45,99,15,67,95,33,21,57]
odd_numbers

[3, 45, 99, 15, 67, 95, 33, 21, 57]

In [19]:
#use sorted function to sort list temporarily
sorted(odd_numbers)

[3, 15, 21, 33, 45, 57, 67, 95, 99]

In [20]:
#call list again, it will be back to its original order
odd_numbers

[3, 45, 99, 15, 67, 95, 33, 21, 57]

* example 2

In [21]:
#to permanently sort list, use sort function
odd_numbers.sort()
odd_numbers

[3, 15, 21, 33, 45, 57, 67, 95, 99]

In [22]:
#call list again, it will remain sorted
odd_numbers

[3, 15, 21, 33, 45, 57, 67, 95, 99]

#### copy() - this function is used to create a replica of a list without altering or changing the original list

* example 1

In [4]:
#create a list
original=['pumpkin','tomato','potato','onion','carrot']
original

['pumpkin', 'tomato', 'potato', 'onion', 'carrot']

In [6]:
#copy the list by furst assigning it to a variable then calling the variable
copy=original.copy()
copy

['pumpkin', 'tomato', 'potato', 'onion', 'carrot']

In [8]:
#write a message displaying both lists
print('the original list is:', original)
print('the new list is:', copy)

the original list is: ['pumpkin', 'tomato', 'potato', 'onion', 'carrot']
the new list is: ['pumpkin', 'tomato', 'potato', 'onion', 'carrot']

#### clear() - this function clears the elemnts from an existing list and creates an empty list

* example 1

In [1]:
#create a list
list1=[23,54,78,65,34,23,86,44,55,]
list1

[23, 54, 78, 65, 34, 23, 86, 44, 55]

In [3]:
#use clear function to create an empty list
list1.clear()
list1

[]

#### list() - this function creates a list with elements that can be iterated

* example 1

In [23]:
#create a variable with a message
message="Hello"
print(message)

Hello

In [24]:
#make it into a list
converted_list=list(message)
converted_list

['H', 'e', 'l', 'l', 'o']

### b) Built in Functions for Tuples

#### len() - this function tells you the length of your list and string

In [25]:
# tells us the length of our message list from earlier
len(message)

5

In [26]:
# tells us the length of our odd numbers list from earlier
len(odd_numbers)

9

#### max() - this functions returns the highest value within a list

In [29]:
#create a list
list2=[-3,99,500,-200,490,-20,33,47,588,43,190,985]
list2

[-3, 99, 500, -200, 490, -20, 33, 47, 588, 43, 190, 985]

In [30]:
#use max function to find the highest value within this list, do this by assigning it to a variable then print the variable
highest=max(list2)
print(highest)
#the highest calue will be 985

985

* example 2

In [31]:
#use number1 list from earlier
number1

[22, 33, 1, 22, 43, 55, 43, 22, 54, 78, 60, 60, 43, 43, 67, 43]

In [32]:
#use max function to find the highest value within this list, do this by assigning it to a variable then print the variable
highest_value=max(number1)
print(highest_value)
#the highest value will be 78

78

#### min() - this function returns the lowest value within a list

* example 1

In [33]:
#use number1 list from earlier
number1

[22, 33, 1, 22, 43, 55, 43, 22, 54, 78, 60, 60, 43, 43, 67, 43]

In [34]:
#use min function to find the lowest value within this list, do this by assigning it to a variable then print the variable
lowest=min(number1)
print(lowest)
#the lowest value will be 1

1

* example 2

In [36]:
#use list2 function from earlier
list2

[-3, 99, 500, -200, 490, -20, 33, 47, 588, 43, 190, 985]

In [38]:
#use min function to find the lowest value within this list, do this by assigning it to a variable then print the variable
lowest_value=min(list2)
print(lowest_value)
#the lowest value will be -200

-200